

#archive-body{
    display: flex;
    padding: 50px 12%;
}
.archive-posts{
    flex: 6;
}
.archive-post-panel{
    display: flex;
    margin: 20px 0;
    padding: 10px 0;
    /* border-top: 3px solid #6242f4; */
    border-bottom: 3px solid #6242f4;
}
.archive-post-thumbnail{
    padding: 10px;
    flex: 1;
}
.archive-post-thumbnail a img{
    width: 100%;
}
.archive-post-content{
    padding: 10px;
    flex: 1;
}
.archive-post-title a{
    color: rgb(56, 53, 53);
}
.archive-post-title a:hover{
    color: #C7EFCF;
}
.archive-post-date{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6242f4;
}

/* .archive-post-excerpt{} */


@media screen and (max-width: 1326px){
   
}
@media screen and (max-width: 990px){
    #archive-body{
        flex-direction: column;
    }
    .archive-post-panel{
        flex-direction: column;
    }
    .archive-posts{
        padding-left: 5%;
        padding-right: 5%;
    }
}