

#blog-posts-body{
    display: flex;
    padding: 50px 12%;
}
.blog-posts{
    flex: 6;
}
.blog-posts-container{
    flex: 6;
    padding: 15px 25px;
    margin-right: 25px;
    background-color: #fff;
    box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.blog-posts-heading{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.blog-post-panel{
    display: flex;
    margin: 20px 0;
    padding: 10px 0;
    /* border-top: 3px solid #6242f4; */
    border-bottom: 3px solid #6242f4;
}
.blog-post-thumbnail{
    padding: 10px;
}
.blog-post-content{
    padding: 10px;
}
.blog-post-title a{
    color: rgb(56, 53, 53);
}
.blog-post-title a:hover{
    color: #C7EFCF;
}
.blog-post-info{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-post-info,
.blog-post-info a{
    color: #6242f4;
    font-weight: bold;
    font-size: 0.9rem;
}
.blog-post-info a:hover{
    color: #C7EFCF;
}
/* .blog-post-excerpt{} */


@media screen and (max-width: 1326px){
    .blog-post-thumbnail img{
        height: 100%;
    }
}
@media screen and (max-width: 990px){
    #blog-posts-body{
        flex-direction: column;
    }
    .blog-posts-container{
        margin-right: 0;
    }
    .blog-post-panel{
        flex-direction: column;
    }
    .blog-posts{
        padding-left: 5%;
        padding-right: 5%;
    }
}