

#projects-body{
    display: flex;
    padding: 50px 12%;
}
.projects{
    flex: 6;
}
.projects-container{
    padding: 15px 25px;
    margin-right: 25px;
    background-color: #fff;
    box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.projects-heading{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.project-panel{
    display: flex;
    background-color: #6242f4;
    margin: 10px 0;
    border-radius: 5px;
}
.project-thumbnail{
    padding: 10px;
}

.project-content{
    padding: 10px;
}
.project-title a{
    color: #FAF9FF;
}
.project-title a:hover{
    color: #C7EFCF;
}
.project-info{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-info,
.project-info a{
    color: #C7EFCF;
    font-weight: bold;
    font-size: 0.9rem;
}
.project-info a:hover{
    color: #FAF9FF;
}
/* .project-excerpt{} */

.related-posts-container{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 4px solid #6242f4;
}
.related-posts-heading{
    font-size: 1.2rem;

}
.related-posts-list{
    padding: 7px 5px;
}
.related-post{
    margin-bottom: 3px;
}
.related-post a{
    color: #6242f4;
}
.related-post a:hover{
    color: #C7EFCF;
}
@media screen and (max-width: 1326px){
    .project-thumbnail img{
        height: 100%;
    }
}
@media screen and (max-width: 990px){
    #projects-body{
        flex-direction: column;
    }
    .projects{
        padding-left: 5%;
        padding-right: 5%;
    }
    .projects-container{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .project-panel{
        flex-direction: column;
    }
}
