/*//////// Recent Posts Section \\\\\\\\*/
#home-content{
    display: flex;
    padding: 50px 12%;

}
.recent-posts-heading,
.recent-porojects-heading{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.recent-posts{
    flex: 6;
}
.recent-posts-container{
    padding: 15px 25px;
    background-color: #fff;
    margin-right: 25px;
    box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.recent-posts-outer{
    display: flex;
    padding: 3px;
}
.recent-post-panel{   
    position: relative;
}
.recent-post-category{
    position: absolute;
    top: 0;
    padding: 3px 5px;
    background-color: #C7EFCF;
}
.recent-post-category a{
    color: #6242f4;
}
.recent-post-category a:hover{
    color: rgb(156, 156, 156);
}
.recent-posts-inner{
    flex: 1;
    margin-left: 2px;
    margin-right: 2px;
}
.recent-post-thumbnail a img{
    width: 100%;
}
.two-rows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recent-post-body{
    padding: 5px;
    background-color: rgba(98, 66, 244, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.recent-post-title{
    margin: 3px 0;
}
.recent-post-title a{
    color: #C7EFCF;
}
.recent-post-title a:hover{
    color: #3c2896;
}
.recent-post-date{
    color: #fff;
    
}
.recent-post-author a,
.recent-post-author{
    font-weight: bold;
    color: rgb(56, 53, 53);
}
.recent-post-author a:hover{
    color: rgb(156, 156, 156);
} 
.hide-info{
    display: none;
}
.marginTop{
    margin-top: 20px;
}
@media screen and (max-width: 990px){
    #home-content{
        flex-direction: column;
    }
    .recent-posts-container{
        margin-right: 0;
    }
    .recent-posts{
        padding-left: 5%;
        padding-right: 5%;
    }
    .recent-posts-outer{
        flex-direction: column;
    }
}

.view-posts{
    text-align: center;
    margin: 40px 0;
}

.view-posts a{
    background-color: #6242f4;
    color: #FFFFFF;
    display: inline-block;
}
.view-posts a:hover{
    background-color: #3c2896;
}
