
#search-results-body{
    display: flex;
    padding: 50px 12%;
}
.search-results{
    flex: 6;
}
.search-results-container{
    flex: 6;
    padding: 15px 25px;
    margin-right: 25px;
    background-color: #fff;
    box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.search-results-heading{
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.search-form-container{
    background-color: #fff;
    padding: 10px;
}
.search-form-heading{
    font-size: 14px;
    margin-bottom: 15px;
}
.devdevil-search-form{
    display: flex;
    justify-content: space-between;
}
.search-form-text{
    border: 2px solid #6242f4;
    border-radius: 3px;
    padding: 7px 4px;
    background-color: #FAF9FF;
    margin: 0;
    width: 65%;
}
.search-form-text:focus{
    background-color: #C7EFCF;
    color: #6242f4;
}
.search-btn{
    margin: 0;
    background-color: #C7EFCF;
    border-radius: 3px;
    padding: 7px 4px;
    border: 2px solid #6242f4;
    font-weight: bold;
    width: 27%;
}
.search-btn:hover{
    cursor: pointer;
    background-color: #6242f4;
    color: #FAF9FF;
}
@media screen and (max-width: 990px){
    .devdevil-search-form{
        justify-content: space-around;
    }
}


/* ///////// Search Results Page \\\\\\\\\ */
.search-result-panel{
    margin: 15px 0;
    border-bottom: 3px solid #6242f4;
}

.search-result-content{
    padding: 10px;
}
.search-result-title a{
    color: #6242f4;
}
.search-result-title a:hover{
    color: #C7EFCF;
}
.search-result-info{
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-result-info,
.search-result-info a{
    color: rgb(56, 53, 53);
    font-weight: bold;
    font-size: 0.9rem;
}
.search-result-info a:hover{
    color: #C7EFCF;
}
@media screen and (max-width: 990px){
    #search-results-body{
        flex-direction: column;
    }
    .search-results-container{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .search-result-panel{
        flex-direction: column;
    }
    .search-results{
        padding-left: 5%;
        padding-right: 5%;
    }
}
