/*//////// Social Media Section \\\\\\\\*/
#social-icons-container{
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-top: 35px; */
}
.social-heading{
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.social-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.social-icons a .fab{
    color: #6242f4;
}
.social-icons a .fab:hover{
    color: #C7EFCF;
    /* color: #3c2992; */
}